{
	"client/**/*.{js,jsx,ts,tsx}": [
		"pnpm -C client exec -- prettier --write",
		"pnpm -C client exec -- eslint --fix"
	],
	"server/**/*.{js,jsx,ts,tsx}": [
		"pnpm -C server exec -- prettier --write",
		"pnpm -C server exec -- eslint --fix"
	],
	"*.{json,md,css,scss,html}": [
		"pnpm -w exec -- prettier --write"
	]
}
